<template>
  <div>
    <b-form-group
        id="categorySelectLabel"
        label="Category"
        label-for="categorySelect"
      >
        <b-form-select id="categorySelect" :options="options" v-model="formData.category"/>
      </b-form-group>
    <b-form-group
        id="usernameLabelLogin"
        label="Title"
        label-for="titleInput"
        :invalid-feedback="invalidTitle"
        :state="titleValidate"
      >
        <b-form-input
          id="titleInput"
          :state="titleValidate"
          v-model="formData.title"
          trim
        />
      </b-form-group>
    <wysiwyg v-model="formData.post" />
    <b-button :disabled="$v.formData.$invalid" @click="formSubmit" class="mt-3" variant="primary">
      Submit
    </b-button>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'CreatePost',
  data() {
    return {
      options: {
        Tech: 'Tech',
        Science: 'Science'
      },
      formData: {
        title: '',
        post: '',
        category: 'Tech',
        user_id: JSON.parse(localStorage.getItem('userSession')).data.id
      }
    }
  },
  validations: {
    formData: {
      title: { required },
      post: { required }
    }
  },
  computed: {
    titleValidate() {
      return this.$v.formData.title.required
    },
    invalidTitle() {
      let msg = ''
      if (!this.$v.formData.title.required) {
        msg = 'Title is required'
      }
      return msg
    }
  },
  methods: {
    formSubmit() {
      if (this.$v.formData.$invalid === false) {
        console.log(this.formData)
        axios.post('http://localhost/mediumkw/public/posts', this.formData)
          .then((response) => {
            console.log(response)
            this.$router.push('/posts')
          })
          .catch((error) => {
            console.log(error)
          })
      }
    }
  }
}
</script>

<style>
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>
