<template>
<div>
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="/" class="font-weight-bold">Medium-KW</b-navbar-brand>
      <b-navbar-toggle target="nav_collapse" />
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <div v-if="!isLoggedIn">
            <b-row>
              <RegisterModal class="mr-2"/>
              <LoginModal class="mr-2"/>
            </b-row>
          </div>
          <div v-if="isLoggedIn">
            <b-nav-item-dropdown right>
              <template slot="button-content"><em>{{ isLoggedIn ? userData.data.name : '' }}</em></template>
              <b-dropdown-item href="/posts">Posts</b-dropdown-item>
              <b-dropdown-item @click="logout">Signout</b-dropdown-item>
            </b-nav-item-dropdown>
          </div>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
</div>
</template>

<script>
import RegisterModal from '@/components/RegisterModal.vue'
import LoginModal from '@/components/LoginModal.vue'

export default {
  name: 'Header',
  data() {
    return {
      userData: JSON.parse(localStorage.getItem('userSession'))
    }
  },
  computed: {
    isLoggedIn() {
      return localStorage.getItem('userSession') !== null
    }
  },
  methods: {
    logout() {
      localStorage.clear()
      window.location.reload()
    }
  },
  components: {
    RegisterModal,
    LoginModal
  }
}
</script>
