<template>
  <div>
    <GambarKw/>
    <b-row class="position-relative">
      <Featured/>
      <Popular/>
    </b-row>
  </div>
</template>

<script>
// @ is an alias to /src
import GambarKw from '@/components/GambarKw.vue'
import Featured from '@/components/Featured.vue'
import Popular from '@/views/Popular.vue'

export default {
  name: 'home',
  components: {
    GambarKw,
    Featured,
    Popular
  }
};
</script>
