<template>
  <b-col cols="3" ref="sidebar" :class="{ 'sticks' : sticky }">
    <div class="header_popular">
      <h4>Popular on Medium-KW</h4>
    </div>
    <CardWithNumber
      v-for="(data,index) in popular_data"
      :key="index"
      :number="data.number"
      :title="data.title"
      :link_to="data.link_to"
      :created_at="data.created_at"
      :created_by="data.user.username"
    ></CardWithNumber>
  </b-col>
</template>

<script>
import CardWithNumber from '@/components/CardWithNumber.vue'
import axios from 'axios'

export default {
  name: 'Popular',
  data() {
    return {
      sticky: false,
      popular_data: Array
    }
  },
  components: {
    CardWithNumber
  },
  mounted() {
    axios.get('http://localhost/mediumkw/public/posts/popular')
      .then((response) => {
        this.popular_data = response.data
        // console.log(response)
      })
      .catch((error) => {
        console.log(error)
      })

    const currentTop = this.$el.getBoundingClientRect().top - 10
    window.onscroll = () => {
      if (currentTop < document.documentElement.scrollTop) {
        this.sticky = true
      }
      else {
        this.sticky = false
      }
    }
  }
}
</script>


<style>
  .header_popular {
    font-size: 3rem;
    margin-bottom: -1px;
    padding-bottom: 1rem;
  }
  .sticks {
    position: fixed!important;
    top: 0;
    right: 7.7%;
    max-width: 285px!important;
  }
</style>
