<template>
  <div>
    <b-button href="/post/create" variant="primary" class="mb-3">Create Post</b-button>
    <Post
      v-for="(data,index) in posts"
      :key="index"
      :title="data.title"
      :post="data.post"
      :category="data.category"
    />
  </div>
</template>

<script>
import Post from '@/components/Post.vue'
import axios from 'axios'

export default {
  name: 'Posts',
  data() {
    return {
      posts: Array
    }
  },
  components: {
    Post
  },
  mounted() {
    const { id } = JSON.parse(localStorage.userSession).data
    axios.get('http://localhost/mediumkw/public/posts', { params: { id } })
      .then((response) => {
        this.posts = response.data
        console.log(response)
      })
      .catch((error) => {
        console.log(error)
      })
  }
}
</script>
