<template>
  <div>
    <loading-progress
      v-if="!isLoading"
      style="display:block; margin:0 auto;"
      shape="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80"
      size="180"
      fill-duration="2"
    />
    <ReadCard
      v-if="isLoading"
      :data="data"
    />
    <div class="mt-5" v-html="data.post"></div>
  </div>
</template>

<script>
import axios from 'axios'
import ReadCard from '@/components/ReadCard.vue'

export default {
  name: 'Read',
  data() {
    return {
      isLoading: false,
      param: this.$route.params.id,
      data: Object
    }
  },
  mounted() {
    axios.get(`http://localhost/mediumkw/public/read/${this.param}`)
      .then((response) => {
        this.data = response.data
        this.isLoading = true
        console.log(response)
      })
      .catch((error) => {
        console.log(error)
      })
  },
  components: {
    ReadCard
  }
}
</script>
