<template>
  <div>
    <b-card
      :title="title"
      tag="article"
      style="max-width: 20rem;"
      class="mb-2"
    >
      <b-card-text>
        {{created_at}} - {{created_by}}
      </b-card-text>
      <b-button :href="link_to" variant="primary">Go somewhere</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'CardWithNumber',
  props: {
    number: Number,
    title: String,
    link_to: String,
    created_at: String,
    created_by: String
  }
}
</script>
