<template>
  <b-col cols="9">
    <b-col v-for="(listData,category) in datas" :key="category" cols="12">
      <div class="b-btm-light">
        <div class="fs-20 no-textDecor mb-2">{{category}}</div>
      </div>
      <b-row  v-for="(data,index) in listData" :key="index" class="mt-2">
        <b-col cols="9" @click="goTo(data.id)">
          <div class="title">{{data.title}}</div>
          <div class="subTitle">{{data.post.substr(0,80)}} ....</div>
          <div class="createdBy">Created By - {{data.user.username}}</div>
          <div class="subtitle">{{data.created_at}}</div>
        </b-col>
        <b-col cols="3">
          <b-img class="ims" src="https://assets.pernod-ricard.com/nz/media_images/test.jpg?hUV74FvXQrWUBk1P2.fBvzoBUmjZ1wct"></b-img>
        </b-col>
      </b-row>
    </b-col>
  </b-col>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Featured',
  data() {
    return {
      datas: Object
    }
  },
  mounted() {
    axios.get('http://localhost/mediumkw/public/posts')
      .then((response) => {
        this.datas = response.data
        // console.log(response)
      })
      .catch((error) => {
        console.log(error)
      })
  },
  methods: {
    goTo(param) {
      this.$router.push({
        name: 'Read',
        params: { id: param }
      })
    }
  }
}
</script>

<style scoped>
  .ims {
    width: 100%!important;
    height: 100%!important;
  }
  .fs-20 {
    font-size: 20px;
  }
  .b-btm-light {
      border-bottom: 1px solid rgba(0,0,0,.15)!important;
  }
  .no-textDecor {
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .title {
    font-weight: 600!important;
  }
  .subTitle {
    font-size: 0.8rem!important;
    font-weight: 400!important;
  }
  .createdBy {
    font-size: 0.9rem!important;
    font-weight: 500!important;
  }
</style>
