<template>
  <b-row class="background-kw mb-4">
    <b-col col class="p-5">
      <div>
        <div class="ui-brand1 mb-3">
          Welcome to MediumKW, where words matter.
        </div>
        <div class="mb-8">
          We’ll deliver the best stories and ideas on the topics
            you care about most straight to your homepage,
            app, or inbox.
        </div>
      </div>
    </b-col>
    <b-col class="gambar-kanan d-none d-sm-block">
    </b-col>
  </b-row>
</template>

<style scoped>
  .background-kw{
    background-color: #E8F3EC;
  }
  .background-kw .gambar-kanan{
    background-image: url(https://cdn-images-1.medium.com/max/1400/1*TckFXfkU_bg0aADPYR_t7Q.png);
    background-position: bottom right;
    background-repeat: no-repeat!important;
    background-size: contain!important;
  }
  .u-marginAuto {
    margin-left: auto!important;
    margin-right: auto!important;
  }
  element.style {
    background-image: url(https://cdn-images-1.medium.com/max/1400/1*TckFXfkU_bg0aADPYR_t7Q.png);
    background-position: bottom right;
  }
  .ui-brand1 {
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 42px!important;
    line-height: 48px!important;
    -webkit-transform: translateY(1.5px);
    transform: translateY(1.5px);
  }
</style>
