<template>
  <div>
    <b-button size="sm" variant="primary" v-b-modal.modal-login.modalPrevent>Login</b-button>
    <b-modal
      ref="modalLogin"
      id="modal-login"
      centered
      title="Login"
    >
      <b-alert :variant="alertColor" dismissible v-model="showDismissibleAlert">
        {{ alertMessage }}
      </b-alert>
      <b-form-group
        id="usernameLabelLogin"
        label="Username"
        label-for="usernameInputLogin"
        :invalid-feedback="invalidUsername"
        :state="usernameValidate"
      >
        <b-form-input
          id="usernameInputLogin"
          :state="usernameValidate"
          v-model="formData.username"
          trim
        />
      </b-form-group>
      <b-form-group
        id="passwordlLabelLogin"
        label="Password"
        label-for="passwordInputLogin"
        :invalid-feedback="invalidPassword"
        :state="passwordValidate"
      >
        <b-form-input
          id="passwordInputLogin"
          :state="passwordValidate"
          type="password"
          v-model="formData.password"
          trim
        />
      </b-form-group>
      <div slot="modal-footer">
        <b-button class="mr-2" variant="secondary" @click="closeModalAct">Close</b-button>
        <b-button variant="primary" :disabled="$v.formData.$invalid" @click="submitForm">
          Submit
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'Login',
  data() {
    return {
      closeModal: true,
      showDismissibleAlert: false,
      alertColor: '',
      alertMessage: '',
      formData: {
        username: '',
        password: ''
      }
    }
  },
  validations: {
    formData: {
      username: { required },
      password: { required }
    }
  },
  computed: {
    passwordValidate() {
      return this.$v.formData.password.required
    },
    invalidPassword() {
      let msg = ''
      if (!this.$v.formData.password.required) {
        msg = 'Password is required'
      }
      return msg
    },
    usernameValidate() {
      return this.$v.formData.username.required
    },
    invalidUsername() {
      let msg = ''
      if (!this.$v.formData.username.required) {
        msg = 'Username is required'
      }
      return msg
    }
  },
  methods: {
    closeModalAct(param = true) {
      if (param) {
        this.$refs.modalLogin.hide()
        this.showDismissibleAlert = false
        // eslint-disable-next-line no-restricted-syntax
        for (const prop of Object.keys(this.formData)) {
          this.formData[prop] = ''
        }
      }
      this.alertMessages = []
      this.closeModal = true
    },
    submitForm(e) {
      e.preventDefault()
      if (this.$v.formData.$invalid === false) {
        axios.post('http://localhost/mediumkw/public/user/login', this.formData)
          .then((response) => {
            this.alertMessage = response.data.message
            this.alertColor = response.data.color
            localStorage.setItem('userSession', JSON.stringify(response.data))
            if (response.data.status === 'success') {
              window.location.reload()
            }
            this.closeModal = false
          })
          .catch((error) => {
            this.alertColor = 'danger'
            this.alertMessage = 'Error'
            this.closeModal = false
            console.log(error)
          })
        this.showDismissibleAlert = true
        setTimeout(() => {
          this.closeModalAct(this.closeModal)
        }, 3000)
      }
    }
  }
}
</script>
