<template>
  <div>
    <b-card :title="title" :sub-title="category" class="mb-4">
      <b-card-text>
        {{ post }}
      </b-card-text>
      <a href="#" class="card-link">Edit</a>
      <b-link href="#" class="card-link">Delete</b-link>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: {
    title: String,
    post: String,
    id: String,
    category: String
  }
}
</script>
