<template>
  <div>
    <b-card no-body class="overflow-hidden">
      <b-row no-gutters>
        <b-col md="3" sm="12">
          <b-card-img src="https://cdn-images-1.medium.com/max/1400/1*VFyKDmVvxWT6ba5VDVsTJQ.jpeg" class="rounded-0" />
        </b-col>
        <b-col md="9" sm="12">
          <b-card-body :title="data.title">
            <b-card-text>
              {{ data.category }}
            </b-card-text>
            <b-card-text>
              Created By - {{data.user.username }}
            </b-card-text>
            <b-card-text>
              {{data.created_at }}
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'ReadCard',
  props: {
    data: Object
  },
  mounted() {
    console.log(this.data)
  }
}
</script>
