<template>
  <div>
    <b-button size="sm" variant="primary" v-b-modal.modal-register.modalPrevent>Register</b-button>
    <b-modal
      ref="modalRegistration"
      id="modal-register"
      centered
      title="Register"
    >
      <b-alert v-for="(datas,index) in alertMessages"
      :key="index" :variant="alertColor" dismissible v-model="showDismissibleAlert">
        <div v-for="(data,index) in datas" :key="index">
          {{data}}
        </div>
      </b-alert>
      <b-form-group
        id="usernameLabel"
        label="Username"
        label-for="usernameInput"
        :invalid-feedback="invalidUsername"
        :state="usernameValidate"
      >
        <b-form-input
          id="usernameInput"
          :state="usernameValidate"
          v-model="formData.username"
          trim
        />
      </b-form-group>
      <b-form-group
        id="nameLabel"
        label="Name"
        label-for="nameInput"
        :invalid-feedback="invalidName"
        :state="nameValidate"
      >
        <b-form-input
          id="nameInput"
          :state="nameValidate"
          v-model="formData.name"
          trim
        />
      </b-form-group>
      <b-form-group
        id="emailLabel"
        label="Email"
        label-for="emailInput"
        :invalid-feedback="invalidEmail"
        :state="emailValidate"
      >
        <b-form-input
          id="emailInput"
          :state="emailValidate"
          v-model="formData.email"
          trim
        />
      </b-form-group>
      <b-form-group
        id="passwordlLabel"
        label="Password"
        label-for="passwordInput"
        :invalid-feedback="invalidPassword"
        :state="passwordValidate"
      >
        <b-form-input
          id="passwordInput"
          :state="passwordValidate"
          type="password"
          v-model="formData.password"
          trim
        />
      </b-form-group>
      <div slot="modal-footer">
        <b-button class="mr-2" variant="secondary" @click="closeModalAct">Close</b-button>
        <b-button variant="primary" :disabled="$v.formData.$invalid" @click="submitForm">
          Submit
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'Register',
  data() {
    return {
      alertMessages: Array,
      closeModal: true,
      showDismissibleAlert: false,
      alertColor: '',
      alertMessage: '',
      formData: {
        username: '',
        name: '',
        email: '',
        password: ''
      }
    }
  },
  validations: {
    formData: {
      username: { required },
      name: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  computed: {
    passwordValidate() {
      return this.$v.formData.password.minLength && this.$v.formData.password.required
    },
    invalidPassword() {
      let msg = ''
      if (!this.$v.formData.password.required) {
        msg = 'Password is required'
      }
      if (!this.$v.formData.password.minLength) {
        msg = msg.concat(' Minimal 6 Characters')
      }
      return msg
    },
    emailValidate() {
      return this.$v.formData.email.required && this.$v.formData.email.email
    },
    invalidEmail() {
      let msg = ''
      if (!this.$v.formData.email.required) {
        msg = 'Email is required'
      }
      if (!this.$v.formData.email.email) {
        msg = msg.concat(' Must be Email')
      }
      return msg
    },
    usernameValidate() {
      return this.$v.formData.username.required
    },
    invalidUsername() {
      let msg = ''
      if (!this.$v.formData.username.required) {
        msg = 'Username is required'
      }
      return msg
    },
    nameValidate() {
      return this.$v.formData.name.required && this.$v.formData.name.email
    },
    invalidName() {
      let msg = ''
      if (!this.$v.formData.name.required) {
        msg = 'Name is required'
      }
      return msg
    }
  },
  methods: {
    closeModalAct(param = true) {
      if (param) {
        this.$refs.modalRegistration.hide()
        this.showDismissibleAlert = false
        // eslint-disable-next-line no-restricted-syntax
        for (const prop of Object.keys(this.formData)) {
          this.formData[prop] = ''
        }
      }
      this.alertMessages = []
      this.closeModal = true
    },
    submitForm(e) {
      e.preventDefault()
      if (this.$v.formData.$invalid === false) {
        axios.post('http://localhost/mediumkw/public/user', this.formData)
          .then((response) => {
            this.alertMessages = response.data.message
            this.alertColor = response.data.color
            console.log(response.data)
          })
          .catch((error) => {
            this.alertColor = 'danger'
            this.alertMessage = 'Error'
            this.closeModal = false
            console.log(error)
          })
        this.showDismissibleAlert = true
        setTimeout(() => {
          closeModal(this.closeModal)
        }, 3000)
      }
    }
  }
}
</script>
