<template>
  <div id="app">
    <Header></Header>
    <b-container class="mt-5">
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import Header from '@/views/Header.vue'


export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style>
  html, body {
    overflow-x: hidden;
  }
</style>
